{% extends 'layout.html' %}

    {% block mainBlock %}
        <h1>{{ room.name }}</h1>
        <p>{{ room.description }}</p>

        <div class="comment-wrapper">
            <h3>Conversation</h3>
            <hr>
            <div class="messages">
                
                {% for message in room_messages %}
                    <div>
                        <small>@{{ message.user }}  ---  {{ message.created|timesince }} ago</small>
                        <p>{{ message.body }}</p>
                    </div>
                {% endfor %}
                    
            </div>
        </div>
        
        {% if request.user.is_authenticated %}
            <div class="comment-form">
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="text" name="body" placeholder="Write yout messages here...">
                </form>
            </div>
        {% endif %}
            
    {% endblock mainBlock %}
